# ==========================================
# SOTTOCARTELLE AUTOMATICHE DI VISUAL STUDIO
# ==========================================
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
.vs/
out/
build/
ipch/

# ==========================================
# FILE DI SOLUZIONE E PROGETTO VISUAL STUDIO
# ==========================================
*.sln.docstates
*.vcxproj.user
*.suo
*.user

# ==========================================
# FILE DI COMPILAZIONE, CACHE E LOG
# ==========================================
*.log
*.tlog
*.pdb
*.idb
*.ilk
*.opendb
*.db
*.aps
*.ncb
*.iobj
*.ipdb
*.sdf
*.opensdf